 <div class="navigation-desktop">
            <div class="navigation-list-wrapper">
                <ul class="nav nav-pills nav-stacked navigation-list">
                    <li>
                        <a>
                            <span class="new-idea"></span>
                            <div class="navigation-text">New Idea</div>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span class="idea-stream"></span>
                            <div class="navigation-text">Idea Stream</div>
                        </a>
                    </li>
                    <li  ng-class="{'list-item-selected': (selectedMenu == 'goal')}">
                        <a>
                            <span class="goals"></span>
                            <div class="navigation-text">Goals</div>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span class="analysis"></span>
                            <div class="navigation-text">Analysis</div>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span class="leaderboard"></span>
                            <div class="navigation-text">LeaderBoard</div>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span class="quick-captures"></span>
                            <div class="navigation-text">Quick Captures</div>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span class="manage-team"></span>
                            <div class="navigation-text">Manage Team</div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
