
<div class="notifications-list-header">
    <div class="notification-list-header-container">
        <i class="fa fa-bell"></i>
        <span class="notification-header">Notifications</span>
    </div>
    <ul class="notification-list">
        <li>
            <div class="vertical-dash"></div>
            <div class="notification-bullet"><i class="fa fa-heart"></i>
            </div>
            <div class="horizontal-dash">
                <span></span>
            </div>
            <div class="notification-content-wrapper">
                <div class="notification-content">
                    <img src="images/profile-picture.jpg">
                    <div class="notification-text">Lorem ipsum dolor sit amet, consectetur</div>
                </div>
                <div class="notification-time pull-right">10 Sep 2014</div>
            </div>
        </li>
        <li>
            <div class="vertical-dash"></div>
            <div class="notification-bullet"><i class="fa fa-comment"></i>
            </div>
            <div class="horizontal-dash">
                <span></span>
            </div>
            <div class="notification-content-wrapper">
                <div class="notification-content">
                    <img src="images/profile-picture.jpg">
                    <div class="notification-text">Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum earum, aperiam voluptatum molestiae quos explicabo dignissimos. A harum sit aliquid, cumque, accusantium dolore non in eaque accusamus, vero placeat porro.</div>
                </div>
                <div class="notification-time pull-right">10 Sep 2014</div>
            </div>
        </li>
        <li>
            <div class="vertical-dash"></div>
            <div class="notification-bullet"><i class="fa fa-bar-chart"></i>
            </div>
            <div class="horizontal-dash">
                <span></span>
            </div>
            <div class="notification-content-wrapper">
                <div class="notification-content">
                    <img src="images/profile-picture.jpg">
                    <div class="notification-text">Lorem ipsum dolor sit amet, consectetur</div>
                </div>
                <div class="notification-time pull-right">10 Sep 2014</div>
            </div>
        </li>
    </ul>
</div>
