<div class="navigation-tab">
    <div class="navigation-header-logo">
        <img src="resources/images/incubatize_logo_ipad.png">
    </div>
    <div class="navigation-list-wrapper">
        <ul class="nav nav-pills nav-stacked navigation-list">
            <li>
                <a>
                    <div class="new-idea-tab"></div>
                    <div class="navigation-text">New Idea</div>
                </a>
            </li>
            <li>
                <a>
                    <div class="idea-stream-tab"></div>
                    <div class="navigation-text">Idea Stream</div>
                </a>
            </li>
            <li ng-class="{'list-item-selected': (selectedMenu == 'goal')}">
                <a>
                    <div class="goals-tab"></div>
                    <div class="navigation-text">Goals</div>
                </a>
            </li>
            <li>
                <a>
                    <div class="analysis-tab"></div>
                    <div class="navigation-text">Analysis</div>
                </a>
            </li>
            <li>
                <a>
                    <div class="leaderboard-tab"></div>
                    <div class="navigation-text">LeaderBoard</div>
                </a>
            </li>
            <li>
                <a>
                    <div class="quick-captures-tab"></div>
                    <div class="navigation-text">Quick Captures</div>
                </a>
            </li>
            <li>
                <a>
                    <div class="manage-team-tab"></div>
                    <div class="navigation-text">Manage Team</div>
                </a>
            </li>
        </ul>
    </div>
</div>
