<mobilemenu></mobilemenu>
<tabmenu></tabmenu>
<div class="slide animation">
    <!-- *************** Content Header Starts *************************** -->
    <div class="row content-header" >
        <div class="col-xs-12 header-menu">
            <div class="logo text-left">
                <img class="logo-small" src="resources/images/incubatizelogo.png">
                <i class="fa fa-bars"></i>
            </div>
            <div class="header">
                <div class="capture-wrapper">
                    <i class="fa fa-camera"></i>
                    <span class="badge">2</span>
                    <div class="badge-text">CAPTURE</div>
                </div>
                <div class="capture-wrapper head-notification-icon">
                    <i class="fa fa-bell"></i>
                    <span class="badge">2</span>
                </div>
                <div class="seperator">
                </div>
                <div class="account-options">
                    <div class="image-wrapper" dropdown>
                        <img class="profile-image" ng-src="{{user.photo}}">
                        <img class="profile-image dropdown-toggle"  dropdown-toggle  ng-src="{{user.photo}}">
                        <ul class="dropdown-menu profile-dropdown-menu" role="menu">
                            <li><a>Action</a>
                            </li>
                            <li ng-click="doLogout()"><a>Logout</a>
                            </li>
                        </ul>
                    </div>
                    <div class="profile-options">
                        <div class="dropdown-options" dropdown>
                            <a  class="dropdown-toggle" dropdown-toggle>
                                <span class="pull-left">Welcome</span><b class="caret"></b>
                            </a>

                            <ul class="dropdown-menu profile-dropdown-menu" role="menu">
                                <li><a>Action</a>
                                </li>
                                <li ng-click="doLogout()"><a>Logout</a>
                                </li>
                            </ul>
                        </div>

                        <div class="profile-name">
                            <span>{{user.name}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- *************** Content Header Ends ***************************** -->
    <!-- *********************** Content Starts ************************* -->
    <div class="row content-wrapper">
        <!-- ******************* Left side Navigation Starts ********************* -->
        <desktopmenu>       </desktopmenu>
        <!-- ******************* Left side Navigation Ends *********************** -->
        <div class="idea-feed" ui-view>

        </div>
        <!-- *********** Idea Feed Ends ********************************** -->
        <!-- *********** Notifications Starts **************************** -->
        <div class="notifications">

        </div>
        <!-- *********** Notifications Ends ****************************** -->
    </div>
    <!-- *********************** Footer Starts *********************************** -->
    <div class="row footer text-center" >
        <span class="footer-note">©Copyright 2014,</span>
        <span class="footer-logo">INCUBATIZE</span> 
    </div>
    <!-- *********************** Footer Ends ************************************* -->
</div>

