
<div class="navigation-mobile" data-block-name="navigation_mobile">
    <div class="navigation-header-logo">
        <img src="resources/images/incubatize_logo_ipad.png">
    </div>
    <div class="navigation-list-wrapper">
        <ul class="nav nav-pills nav-stacked navigation-list">
            <li>
                <a>
                    <span class="new-idea"></span>
                    <div class="navigation-text">New Idea</div>
                </a>
            </li>
            <li data-btn-name="menu_item" data-menu-name="ideas">
                <a>
                    <span class="idea-stream"></span>
                    <div class="navigation-text">Idea Stream</div>
                </a>
            </li>
            <li data-btn-name="menu_item" data-menu-name="goals">
                <a>
                    <span class="goals"></span>
                    <div class="navigation-text">Goals</div>
                </a>
            </li>
            <li>
                <a>
                    <span class="analysis"></span>
                    <div class="navigation-text">Analysis</div>
                </a>
            </li>
            <li>
                <a>
                    <span class="leaderboard"></span>
                    <div class="navigation-text">LeaderBoard</div>
                </a>
            </li>
            <li>
                <a>
                    <span class="quick-captures"></span>
                    <div class="navigation-text">Quick Captures</div>
                </a>
            </li>
            <li>
                <a>
                    <span class="manage-team"></span>
                    <div class="navigation-text">Manage Team</div>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="navigation-tab">
    <div class="navigation-header-logo">
        <img src="resources/images/incubatize_logo_ipad.png">
    </div>
    <div class="navigation-list-wrapper">
        <ul class="nav nav-pills nav-stacked navigation-list">
            <li>
                <a>
                    <div class="new-idea-tab"></div>
                    <div class="navigation-text">New Idea</div>
                </a>
            </li>
            <li data-btn-name="menu_item" data-menu-name="ideas">
                <a>
                    <div class="idea-stream-tab"></div>
                    <div class="navigation-text">Idea Stream</div>
                </a>
            </li>
            <li data-btn-name="menu_item" data-menu-name="goals">
                <a>
                    <div class="goals-tab"></div>
                    <div class="navigation-text">Goals</div>
                </a>
            </li>
            <li>
                <a>
                    <div class="analysis-tab"></div>
                    <div class="navigation-text">Analysis</div>
                </a>
            </li>
            <li>
                <a>
                    <div class="leaderboard-tab"></div>
                    <div class="navigation-text">LeaderBoard</div>
                </a>
            </li>
            <li>
                <a>
                    <div class="quick-captures-tab"></div>
                    <div class="navigation-text">Quick Captures</div>
                </a>
            </li>
            <li>
                <a>
                    <div class="manage-team-tab"></div>
                    <div class="navigation-text">Manage Team</div>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="slide animation" data-block-name="slidling_content">
    <!-- *************** Content Header Starts *************************** -->
    <div class="row content-header" >
        <div class="col-xs-12 header-menu">
            <div class="logo text-left">
                <img class="logo-small" src="resources/images/incubatizelogo.png">
                <i class="fa fa-bars"></i>
            </div>
            <div class="header">
                <div class="capture-wrapper">
                    <i class="fa fa-camera"></i>
                    <span class="badge">2</span>
                    <div class="badge-text">CAPTURE</div>
                </div>
                <div class="capture-wrapper head-notification-icon">
                    <i class="fa fa-bell"></i>
                    <span class="badge">2</span>
                </div>
                <div class="seperator">
                </div>
                <div class="account-options">
                    <div class="image-wrapper" dropdown>
                        <img class="profile-image" ng-src="{{user.photo}}">
                        <img class="profile-image dropdown-toggle"  dropdown-toggle  ng-src="{{user.photo}}">
                        <ul class="dropdown-menu profile-dropdown-menu" role="menu">
                            <li><a>Action</a>
                            </li>
                            <li ng-click="doLogout()"><a>Logout</a>
                            </li>
                        </ul>
                    </div>
                    <div class="profile-options">
                        <div class="dropdown-options" dropdown>
                            <a  class="dropdown-toggle" dropdown-toggle>
                                <span class="pull-left">Welcome</span><b class="caret"></b>
                            </a>

                            <ul class="dropdown-menu profile-dropdown-menu" role="menu">
                                <li><a>Action</a>
                                </li>
                                <li ng-click="doLogout()"><a>Logout</a>
                                </li>
                            </ul>
                        </div>

                        <div class="profile-name">
                            <span>{{user.name}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- *************** Content Header Ends ***************************** -->
    <!-- *********************** Content Starts ************************* -->
    <div class="row content-wrapper">
        <!-- ******************* Left side Navigation Starts ********************* -->
        <div class="navigation-desktop">
            <div class="navigation-list-wrapper">
                <ul class="nav nav-pills nav-stacked navigation-list">
                    <li>
                        <a>
                            <span class="new-idea"></span>
                            <div class="navigation-text">New Idea</div>
                        </a>
                    </li>
                    <li data-btn-name="menu_item" data-menu-name="ideas">
                        <a>
                            <span class="idea-stream"></span>
                            <div class="navigation-text">Idea Stream</div>
                        </a>
                    </li>
                    <li data-btn-name="menu_item" data-menu-name="goals">
                        <a>
                            <span class="goals"></span>
                            <div class="navigation-text">Goals</div>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span class="analysis"></span>
                            <div class="navigation-text">Analysis</div>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span class="leaderboard"></span>
                            <div class="navigation-text">LeaderBoard</div>
                        </a>
                    </li>
                    <li class="list-item-selected">
                        <a>
                            <span class="quick-captures"></span>
                            <div class="navigation-text">Quick Captures</div>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span class="manage-team"></span>
                            <div class="navigation-text">Manage Team</div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- ******************* Left side Navigation Ends *********************** -->
        <div class="idea-feed" ui-view>

        </div>
        <!-- *********** Idea Feed Ends ********************************** -->
        <!-- *********** Notifications Starts **************************** -->
        <div class="notifications" data-block-name="right_pane">

        </div>
        <!-- *********** Notifications Ends ****************************** -->
    </div>
    <!-- *********************** Footer Starts *********************************** -->
    <div class="row footer text-center" >
        <span class="footer-note">©Copyright 2014,</span>
        <span class="footer-logo">INCUBATIZE</span> 
    </div>
    <!-- *********************** Footer Ends ************************************* -->
</div>

